{
	telegram_bot_token => 'Talk to https://telegram.me/BotFather',
	webhook_url_start => 'https://<%= $::host_name %>:8443/hooks',
	# appmetrica_token => 'See http://botan.io',
	appmetrica_uid_mask => unpack('L', 'random str'),
    # redis_url => '/0',
};
