use Ubic::Service::SimpleDaemon;

my $root_dir = '/site/<%= $::host_name %>/';

my $service = Ubic::Service::SimpleDaemon->new(
    bin => "perl $root_dir/daemon/frfbot.pl prefork",
    cwd => $root_dir,
	stdout => "$root_dir/log/frfbot.log",
	stderr => "$root_dir/log/frfbot.err.log",
	ubic_log => "$root_dir/log/frfbot.ubic.log",
	user => "<%= $::account %>",
	env => {
		MOJO_LISTEN => 'http://127.0.0.1:<%= $::daemon_port %>',
		MOJO_REVERSE_PROXY => 1,
		MOJO_HOME => $root_dir,
	},
);
